$main-color: #24d1e4;

.share-buttons-sidebar {
  grid-area: sidebar2;
}

//
// Articles
//

.article-body {
  border: 1px solid $main-color;
  border-radius: 4px;
  background-color: #fff;
  margin: 20px 80px;
  padding: 0 20px 20px;
}

.article-content {
  font-family: fira-sans, sans-serif;
  font-size: 11pt;
  margin-top: 20px;

  .attachment-post-thumbnail {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-15%);
    width: 100%;
  }
}

h2.article-title {
  font-family: fira-sans, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  font-style: normal;
}

.article-meta {
  font-family: fira-sans, sans-serif;
  font-size: 9pt;
  text-align: right;
}
