@import "../vendor/Buttons/scss/buttons";
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
@import url('https://code.cdn.mozilla.net/fonts/fira.css');
@import "sidebar";

// ---------------------------------------------------------
// Global font defaults
// ---------------------------------------------------------

* {
    color: #333;
    font-family: 'Fira Sans', 'Sans Serif';
}

p {
//    font-size: 10pt;
}

h2 {
    font-size: 8pt;
    font-style: italic;
    font-weight: 300;
    margin-top: 0px;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    -ms-transition: font-size 0.3s;
    -o-transition: font-size 0.3s;
    transition: font-size 0.3s;

    .firefox {
	    font-size: 9pt;
	    font-style: normal;
      font-weight: 400;
    }
}

h3 {
  margin-top: 0;
  padding-top: 0;
}

a {
}

a.sitelink {
  text-decoration: none;
}

.hide {
  display: none !important;
}

* {
  box-sizing: border-box;
}

// ---------------------------------------------------------
// Document structure
// ---------------------------------------------------------

html {
  height: 100%;
}

body {
  background: #f5f5f7;
  color: #333;
  display: flex;
  flex-direction: column;
  height: calc(100% - 65px);
  justify-content: space-between;
  margin: 0;
  margin-top: 65px;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

#bottom-filler {
  height: 100%;
}

// ---------------------------------------------------------
// Header
// ---------------------------------------------------------

header {
  background-color: #32d0dd;

  left: 0px;
  top: 0px;
  right: 0px;
  height: 65px;
  width: 100%;

  overflow: hidden;
  padding-top: 10px;
  position: fixed;
  z-index: 999;

  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;

  .header-container {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 1px);
    margin: 0 20px;
    border-bottom: 1px solid #2ec8d5;
  }
  
  .nav-left, .nav-right {
    * {
      color: white;
    }
  }
  .nav-left, .nav-right {
    font-size: 9pt;
    width: 15%;
  }

  .nav-right {
    text-align: right;
  }
  .nav-center {
    display: inline-block;
    text-align: center;
//    margin-top: -.5em;
    width: 70%;

    .title-logo {
      max-height: 70%;
      max-width: 100%;
      margin: 0 0;
      -webkit-transition: max-width 0.3s, max-height 0.3s;
      -moz-transition: max-width 0.3s, max-height 0.3s;
      -ms-transition: max-width 0.3s, max-height 0.3s;
      -o-transition: max-width 0.3s, max-height 0.3s;
      transition: max-width 0.3s, max-height 0.3s;
    }
    h2 {
      margin-top: -.5em;
    }
  }

  .nav-subscribe {
    margin-left: 10px;
    display: none;
  }
  .nav-login {
    display: none;
    margin-right: 10px;
    #form-signin-wrapper {
      display: inline-block;
      button {
        background: none !important;
        border:none; 
        color: inherit;
        cursor: pointer;
        font: inherit;
        padding: 0 !important;
      }
    }
  }
  .search-form {
    .screen-reader-text, .search-submit { display: none; }
    input {
      color: black;
    }
  }
}
header.smaller {
  height: 38px;
  margin-top: -.25em;
  .title-logo { max-height: 45%; }
  h2 {
    font-size: 6pt;
    .firefox { font-size: 7pt; }
  }
}
.header-bottom {
  background-color: #32d0dd;
  display: grid;
  grid-template-columns: auto 75% auto;

  * {
    color: white;
  }
  .hero {
  }
  .hero-text-heading {
    font-size: 18pt;
    text-align: center;
  }
  .hero-text-body {
    font-size: 10pt;
    text-align: center;
    margin-bottom: 30px;

    ul {
      list-style: none;
      li {
        display: inline;
        font-weight: 500;
        text-transform: uppercase;
        padding-right: 2em;
        a { text-decoration: none; }
        :hover {
          background-color: yellow;
          color: black;
        }
      }
    }
  }
}

// ---------------------------------------------------------
// Content sections
// ---------------------------------------------------------

.section-heading {
  clear: both;
  margin: 1em 0;
  position: relative;
  .heading-text {
    display: inline;
    background: yellow;
    font-size: 12pt;
    font-weight: 500;
    height: 24.5px;
    margin: 0 8px;
    padding: 4px 8px;
    position: absolute;
    top: calc(50% - 12.25px);
    text-transform: uppercase;
    a { text-decoration: none; }
  }
}

.filters-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px 30px;

  .filter-emoji {
    position: relative;
    .filter-text {
      background: yellow;
      font-size: 12pt;
      font-weight: 500;
      left: 50%;
      padding: 4px 8px;
      position: absolute;
      text-transform: uppercase;
      top: 50%;
      transform: translateX(-50%);
    }
  }
  .filter-emoji.selected,
  .filter-emoji:hover {
    .filter-text {
      top: 100%;
      -webkit-transition: top 0.15s;
      -moz-transition: top 0.15s;
      -ms-transition: top 0.15s;
      -o-transition: top 0.15s;
      transition: top 0.15s;
    }
  }
  .filter-sad,
  .filter-huh {
    display: none;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e6e6e9;
  margin: 1em 0 .25em 0;
  padding: 0;
}

.category-selector {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;

  li {
	  margin-right: 5px;
  }

  .category-button {
    @extend .button, .button-small, .button-rounded, .button-raised;
  }
}

// ---------------------------------------------------------
// Masonry grid
// ---------------------------------------------------------

.grid {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
.card {
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  min-height: 100%;
  overflow: hidden;

  .card-content {
    color: #444;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    text-decoration: none;
  }

  article {
    padding: 20px;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h2 {
    color: #333;
    font-size: 12pt;
    font-style: normal;
    font-weight: 500;
    >a { text-decoration: none; }
  }
  
  p { 
    line-height: 1.4;
  }
  
  .author {
    font-size: 8pt;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding-right: 10px;
  }

  .thumb {
    border-top: 1px solid lightgray;
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
    min-height: 200px;
  }

  .card-bottom-text {
    background: lightgray;
    font-size: 9pt;
    padding: 10px;
    text-align: right;
    width: 100%;
  }
  .spam-shield {
    padding: 10px;
  }
}
.card-inset {
//    background: #ccc;
//    border: 1px solid #aaa;
//    box-shadow: inset 1px 1px 3px 0 #aaa;
    background: #ddd;
    box-shadow: none;
    text-align: right;
    :first-child {
	margin-top: 0;
    }
}
.card-wide {
}
.card-wide2 {
}
.card-tall {
    min-height: 320px;
}
.card-short {
    min-height: 140px;
}
.gutter-sizer {
    width: 0%;
}

.card-text {
  padding: 10px;
}

.card .wp-post-image {
  width: 100%;
  height: 100%;
}

.the-end {
  display: none;
  // FIXME: margin hack to move it below cards - but cards are variable-height
  margin-top: 200px;
  text-align: center;
}

// ---------------------------------------------------------
// Search results page
// ---------------------------------------------------------

ul.search-results {
  border: 1px solid lightgray;
  list-style-type: none;
  margin: 0 20px;
  padding: 0;

  li {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    a {
      display: flex;
      text-decoration: none;
    }
    a.hide {
      display: none;
    }
    .spam-shield a {
      text-decoration: underline;
    }

    .meta {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;
    }
    .caption {
      font-weight: 500;
    }
    .brand-domain {
      font-size: 10pt;
      .domain {
        margin-left: 1em;
      }
    }
  }
  li:last-child {
    border-bottom: none;
  }
}

// ---------------------------------------------------------
// Newsletter subscribe page
// ---------------------------------------------------------

.newsletter-subscribe {
  input[name="email"] {
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
    font-size: 12pt;
    width: 25em;
  }
  input[name="email"]:focus,
  input[name="email"].focus {
    border: solid 5px #969696;
  }
  label[for="privacy-accept"] {
    font-size: 10pt;
  }
  input[name="submit"] {
    margin-top: 1em;
  }
}

// ---------------------------------------------------------
// Contribute page
// ---------------------------------------------------------

.install-p {
  padding: 0;
  margin-bottom: 0;
}

ol.contribute-instructions {
  li:first-child {
    padding: 0 0 0 5%;
  }
  li {
    padding: 1em 0 0 5%;
  }
}

.faq-header {
  border-top: 1px solid #eee;
  text-align: center;
  margin-top: 3em;
  padding-top: 1em;
}

.install-faq {
  dt {
    font-style: italic;
  }
  dd {
    margin-bottom: 1em;
  }
}

// ---------------------------------------------------------
// Masonry grid media queries
// ---------------------------------------------------------

@media only screen and (min-width: 500px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }  
}
@media only screen and (min-width: 850px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/*
@media screen and (min-width: 360px) {
  .grid-sizer, .card { width: 44%; }
  .card-wide, .card-wide2 { width: 96%; }
  .gutter-sizer { width: 4%; }
}
@media screen and (min-width: 600px) {
  .grid-sizer, .card { width: 45%; }
  .card-wide, .card-wide2 { width: 96%; }
  .gutter-sizer { width: 2%; }
}
@media screen and (min-width: 730px) {
  .grid-sizer, .card { width: 28%; }
  .card-wide { width: 62%; }
  .card-wide2 { width: 96%; }
  .gutter-sizer { width: 2%; }
}
@media screen and (min-width: 1024px) {
  .grid-sizer, .card { width: 23.5%; }
  .card-wide-3col { width: 23.5%; }
  .card-wide { width: 45%; }
  .card-wide2 { width: 70.5%; }
  .gutter-sizer { width: 2%; }
}
*/

// ---------------------------------------------------------
// Other media queries
// ---------------------------------------------------------

@media screen and (min-width: 410px) {
  header {
    .nav-subscribe, .nav-login {
      display: inline;
    }

    .nav-left, .nav-right {
      margin-top: .25em;
      width: 20%;
    }
    .nav-center {
      width: 60%;
    }
    .nav-contribute {
      margin-left: 1em;
    }
    .contribute-link {
      text-decoration: none;
    }
  }
}
@media screen and (min-width: 540px) {
  header {
    .nav-left, .nav-right {
      width: 25%;
    }
    .nav-center {
      width: 50%;
    }
  }
  .filters-section {
    margin: 20px 10px 30px;
    .filter-sad {
      display: block;
    }
  }
}
@media screen and (min-width: 640px) {
  header {
    .nav-left, .nav-right {
      width: 30%;
    }
    .nav-center {
      width: 40%;
    }
  }
  .filters-section {
    margin: 20px 20px 30px;
    .filter-huh {
      display: block;
    }
  }
}
@media screen and (min-width: 730px) {
  header {
    .nav-left, .nav-right {
      width: 35%;
    }
    .nav-center {
      width: 30%;
    }
    * {
      font-size: 10pt;
    }
    h1 {
      font-size: 26pt;
    }
    h2 {
      font-size: 9pt;
      .firefox { font-size: 10pt; }
    }
  }
  header.smaller {
    .title-logo { max-height: 50%; }
    h2 {
      font-size: 8pt;
      .firefox { font-size: 10pt; }
    }
  }
  .header-bottom {
    grid-template-columns: auto 60% auto;
    .hero-text-heading {
      font-size: 24pt;
      text-align: center;
    }
    .hero-text-body {
      font-size: 12pt;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
@media screen and (min-width: 1024px) {
  body {
  }
  header {
    .nav-left, .nav-right {
      width: 40%;
    }
    .nav-center {
      width: 25%;
    }
    h1 {
      font-size: 32pt;
    }
    h2 {
      font-size: 10pt;
      .firefox { font-size: 11pt; }
    }
    .header-container {
      margin: 0 4em 0 4em;
    }
  }
  .header-bottom {
    grid-template-columns: auto 50% auto;
  }
  .filters-section {
    margin: 20px 30px 30px;
  }
}
