//
// Header & Footer
//

header {
//  height: 38px;
//  .title-logo { max-height: 45%; }
//  h2 {
//    font-size: 6pt;
//    .firefox { font-size: 7pt; }
//  }
}
//.header-bottom {
//  display: none;
//}

.footer {
  background: #ccc;
  height: 40px;
  margin-top: 20px;
  width: 100%;
  .footer-left {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
    font-size: 12pt;

    .mozlogo img {
      width: 5em;
    }
  }
  .footer-right {
    padding-right: 20px;
    padding-top: 10px;
    float: right;
    .terms {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline;
        font-size: 10pt;
        margin-left: 1em;
      }
    }
  }
}

//
// Pages
//

h2.page-title {
  font-family: fira-sans, sans-serif;
  font-weight: bold;
}

.page-body {
  background: #fff;
  margin: 0 80px;
  padding: 10px;
}

//
// Articles
//

h2.article-title {
  font-family: fira-sans, sans-serif;
  font-size: 18pt;
  font-weight: bold;
}

.article-meta {
  font-family: fira-sans, sans-serif;
  font-size: 9pt;
  text-align: right;
}

.article-content {
  font-family: fira-sans, sans-serif;
  font-size: 11pt;
  margin-top: 20px;
}

.article-body {
  background: #fff;
  margin: 20px 80px;
  padding: 20px;
}

//
// Screenshot posts
//

.content {
  margin: 0 80px;
  padding: 10px;

  hr {
    margin-top: 3em;
  }
}

.screenshot-card {
  border: 1px solid #ccc;
  position: relative;

  .prev-screenshot,
  .next-screenshot {
    position: absolute;
    margin-top: 25%;
    color: gray;
    text-decoration: none;
  }
  .prev-screenshot:hover,
  .next-screenshot:hover {
    color: black;
  }
  .prev-screenshot { left: -40px; }
  .next-screenshot { right: -40px; }
  
  .wp-post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
  }
  .screenshot-meta {
    background: #fff;
    min-height: 2.5em;
    padding: .5em;
    
    .screenshot-caption {
      font-size: 16pt;
      padding-right: 3em;
    }
    .screenshot-actions {
      float: right;

      * {
        text-decoration: none;
      }

      .like {
        margin-right: .25em;
        position: relative;

        .like-box-wrapper {
          display: none;
          height: 100px;
          left: -180px;
          position: absolute;
          bottom: 15px;
          width: 320px;
        }

        .like-box {
          background: #fff;
          border: 1px solid #ccc;
          left: 30px;
          position: absolute;
          padding: 5px 10px;
          bottom: 10px;

          .like-emoji {
            margin: 2px;
          }
        }
      }

      .like i:hover {
        -webkit-transition: transform 0.3s;
        -moz-transition: transform 0.3s;
        -ms-transition: transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      .share {
        position: relative;

        .share-box-wrapper {
          display: none;
          height: 130px;
          left: -130px;
          position: absolute;
          bottom: 15px;
          width: 300px;
        }

        .share-box {
          background: #fff;
          border: 1px solid #ccc;
          left: 30px;
          position: absolute;
          padding: 5px 10px;
          bottom: 10px;
        }
      }
    }
    .like-emoji-count-box {
      clear: both;
      float: right;

      img {
        height: 14px;
        width: 14px;
      }
      .count-text {
        font-size: 9pt;
        margin-right: .5em;
      }
      .count-text:last-child {
        margin-right: 0;
      }
    }
  }
  .screenshot-meta-2 {
    background: #ccc;
    padding: .25em .5em .25em .5em;
    font-size: 9pt;
    .screenshot-brand {
    }
    .screenshot-domain {
      float: right;
    }
  }
  .secondary-actions {
    float: right;
    margin-top: .25em;
    text-decoration: none;
    * {
      color: #888;
      font-size: 9pt;
    }
    .fa {
      padding-right: .25em;
    }
    .action-txt {
      text-decoration: underline;
    }
  }
}

.screenshot-edit {
  columns: 2;
  #screenshot-meta-form {
    input[type="text"] {
      display: block;
      font-size: 14pt;
      margin: .5em auto;
      width: 100%;
    }
    .meta-offensive-wrapper {
      font-size: 10pt;
      margin: .5em 0;
      width: 100%;
    }
  }
}

.tos-privacy {
  font-size: 9pt;
  text-align: center;
}

//
// Comments
//

.logged-in-as a:nth-child(2) {
  display: none;
}

.comment-form-comment label {
  display: none;
}

#user-setup {
  display: inline-block;
  border: 1px solid lightgray;
  margin: 0 auto;
  padding: 10px;

  label {
    display: inline-block;
    min-width: 4em;
  }
  #user-setup-submit {
    display: block;
    margin-top: 10px;
  }
  #user-setup-existing {
    display: none;
  }
  #create-account-link {
    display: none;
    font-size: 10pt;
  }
  #existing-account-link {
    font-size: 10pt;
  }
  #user-setup-error {
    font-weight: 500;
  }
}

//
// High Scores Page
//

table.highscore-table {
  width:90%;
  border-top:1px solid #e5eff8;
  border-right:1px solid #e5eff8;
  margin:1em auto;
  border-collapse:collapse;

  th {
    padding:.3em 1em;
    border-left:1px solid #e5eff8;
    border-bottom:1px solid #e5eff8;
  }
  th.user-header {
    text-align: left;
  }
  td {
    color:#678197;
    border-bottom:1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    padding:.3em 1em;
    text-align:center;
  }
  td.highscore-user {
    text-align: left;
  }
}
