$main-color: #24d1e4;

body {
  grid-template-columns: 1fr;
}

//
// Pages
//

h2.page-title {
  font-family: fira-sans, sans-serif;
  font-weight: bold;
}

.page-body {
  background-color: #fff;
  margin: 0 80px;
  padding: 10px;
}

//
// Articles
//

.post-header-image {
  width: 100%;

  .attachment-post-thumbnail {
    width: 100%;
    height: auto;
  }
}

h2.article-title {
  font-family: fira-sans, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  font-style: normal;
}

.article-meta {
  font-family: fira-sans, sans-serif;
  font-size: 9pt;
  text-align: right;
}

.article-content {
  font-family: fira-sans, sans-serif;
  font-size: 11pt;
  margin-top: 20px;
}

.article-body {
  background-color: #fff;
  margin: 20px 80px;
  padding: 20px;
}

//
// Screenshot posts
//

.content {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
}

.content {
  margin: 0 80px;
  padding: 10px;

  hr {
    margin-top: 3em;
  }
}

.screenshot-card {
  border: 1px solid $main-color;
  position: relative;

  .prev-screenshot,
  .next-screenshot {
    position: absolute;
    margin-top: 25%;
    color: $main-color;
    text-decoration: none;
  }
  .prev-screenshot:hover,
  .next-screenshot:hover {
    color: black;
  }
  .prev-screenshot { left: -40px; }
  .next-screenshot { right: -40px; }
  
  .wp-post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
    max-height: 80%;
  }
  .screenshot-meta {
    background-color: #fff;
    min-height: 2.5em;
    padding: .5em;

    .screenshot-actions {
      display: flex;
      flex-direction: row;
      justify-content: end;

      .like {
        margin-right: 20px;
        img { height: 20px; }
      }

      .share {
        img { height: 20px; }
      }
    }
    .screenshot-caption {
      font-size: 16pt;
      padding-right: 3em;
    }
  }
  .screenshot-meta-2 {
    background-color: $main-color;
    display: flex;
    flex-direction: row;
    font-size: 9pt;
    justify-content: space-between;
    padding: .25em .5em;

    .screenshot-brand,
    .screenshot-domain {
      a {
        color: black;
        text-decoration: underline;
      }
    }
    .screenshot-domain {
      flex: 1;
      text-align: right;
    }
  }
  .secondary-actions {
    float: right;
    margin-top: .25em;
    text-decoration: none;
    * {
      color: #888;
      font-size: 9pt;
    }
    .fa {
      padding-right: .25em;
    }
    .action-txt {
      text-decoration: underline;
    }
  }
}

.screenshot-edit {
  columns: 2;
  #screenshot-meta-form {
    input[type="text"] {
      display: block;
      font-size: 14pt;
      margin: .5em auto;
      width: 100%;
    }
    .meta-offensive-wrapper {
      font-size: 10pt;
      margin: .5em 0;
      width: 100%;
    }
  }
}

.tos-privacy {
  font-size: 9pt;
  text-align: center;
}

//
// Comments
//

.logged-in-as a:nth-child(2) {
  display: none;
}

.comment-form-comment label {
  display: none;
}

#user-setup {
  display: inline-block;
  border: 1px solid lightgray;
  margin: 0 auto;
  padding: 10px;

  label {
    display: inline-block;
    min-width: 4em;
  }
  #user-setup-submit {
    display: block;
    margin-top: 10px;
  }
  #user-setup-existing {
    display: none;
  }
  #create-account-link {
    display: none;
    font-size: 10pt;
  }
  #existing-account-link {
    font-size: 10pt;
  }
  #user-setup-error {
    font-weight: 500;
  }
}

//
// High Scores Page
//

table.highscore-table {
  width:90%;
  border-top:1px solid #e5eff8;
  border-right:1px solid #e5eff8;
  margin:1em auto;
  border-collapse:collapse;

  th {
    padding:.3em 1em;
    border-left:1px solid #e5eff8;
    border-bottom:1px solid #e5eff8;
  }
  th.user-header {
    text-align: left;
  }
  td {
    color:#678197;
    border-bottom:1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    padding:.3em 1em;
    text-align:center;
  }
  td.highscore-user {
    text-align: left;
  }
}
