@import "../vendor/Buttons/scss/buttons";
@font-face {
    font-family: Zilla;
    src: url(fonts/ZillaSlab-Bold.otf);
    font-weight: bold;
}

// ---------------------------------------------------------
// Global font defaults
// ---------------------------------------------------------

* {
    color: #333;
    font-family: fira-sans, sans-serif;
}

p {
    font-size: 10pt;
}

h1 {
    font-family: acier-bat-gris, acier-bat-noir, sans-serif;
    font-size: 32pt;
    font-weight: 300;
    margin: 0 0;
}

h2 {
    font-size: 12pt;
    font-style: italic;
    font-weight: 200;
    margin-top: 0px;
    padding-left: 1em;

    .firefox {
	font-size: 14pt;
	font-style: normal;
    }
}

a {
}

// ---------------------------------------------------------
// Document structure
// ---------------------------------------------------------

body {
    background: #ddd;
    color: #333;
    margin: 10px;
    padding-top: 285px;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

// ---------------------------------------------------------
// Header & sidebar
// ---------------------------------------------------------

header {
  background-color: #0683c9;
  padding-top: 10px;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  margin-bottom: 20px;
  height: 250px;
  overflow: hidden;
  width: 100%;
  z-index: 999;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;

  * {
    color: white;
  }

  .nav-left {
    float: left;
    width: 30%;
  }
  .nav-right {
    float: right;
    width: 30%;
    text-align: right;
  }
  .nav-center {
    width: 40%;
    display: inline-block;
    text-align: center;
    margin-top: -.5em;
    
    //display: table;
    //margin: auto;
    h2 {
      margin-top: -.5em;
    }
  }

  .nav-subscribe {
    margin-left: 2em;
  }
  .nav-login {
    margin-right: 2em;
  }
}
header.smaller {
  height: 40px;

  h1 {
    font-size: 22pt;
  }
  h2 {
    font-size: 9pt;
    .firefox {
	    font-size: 10pt;
    }
  }
}

#sidebar-toggle {
//  position: fixed;
//  left: 10px;
//  top: 10px;
//  z-index: 999;
}
.sidebar-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mozlogo {
    background: #000;
    color: #fff;
    font-family: Zilla;
    font-weight: bold;
    padding: .25em;
}
.terms {
    list-style: none;
    padding: 0;

    li {
	display: inline;
	font-size: 10pt;
    }
}

// ---------------------------------------------------------
// Masonry grid
// ---------------------------------------------------------

.grid {
    max-width: 1200px;
}
.grid-sizer, .card {
    width: 96%;
    padding: 10px 2% 10px 2%;
}
.card {
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 0 dimgrey;
    float: left;
    margin-bottom: 20px;
    min-height: 220px;
}
.card-inset {
//    background: #ccc;
//    border: 1px solid #aaa;
//    box-shadow: inset 1px 1px 3px 0 #aaa;
    background: #ddd;
    box-shadow: none;
    text-align: right;
    :first-child {
	margin-top: 0;
    }
}
.card-wide {
}
.card-wide2 {
}
.card-tall {
    min-height: 320px;
}
.card-short {
    min-height: 140px;
}
.gutter-sizer {
    width: 0%;
}

.category-button {
    @extend .button, .button-small, .button-rounded, .button-raised;
}

.category-selector {
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;

    li {
	margin-right: 5px;
    }
}

.screenshot_thumb {
  width: 100%;
}

// ---------------------------------------------------------
// Masonry grid media queries
// ---------------------------------------------------------

@media screen and (min-width: 360px) {
  .grid-sizer, .card { width: 44%; }
  .card-wide, .card-wide2 { width: 96%; }
  .gutter-sizer { width: 4%; }
}
@media screen and (min-width: 600px) {
  .grid-sizer, .card { width: 45%; }
  .card-wide, .card-wide2 { width: 96%; }
  .gutter-sizer { width: 2%; }
}
@media screen and (min-width: 730px) {
  .grid-sizer, .card { width: 28%; }
  .card-wide { width: 62%; }
  .card-wide2 { width: 96%; }
  .gutter-sizer { width: 2%; }
}
@media screen and (min-width: 1024px) {
  .grid-sizer, .card { width: 19.5%; }
  .card-wide { width: 45%; }
  .card-wide2 { width: 70.5%; }
  .gutter-sizer { width: 2%; }
}

// ---------------------------------------------------------
// Other media queries
// ---------------------------------------------------------

@media screen and (min-width: 360px) {
}
@media screen and (min-width: 600px) {
}
@media screen and (min-width: 730px) {
}
@media screen and (min-width: 1024px) {
  body {
	  margin: 20px;
  }
}
