header {
  height: 38px; }
  header h1 {
    font-size: 22pt; }
  header h2 {
    font-size: 7pt; }
    header h2 .firefox {
      font-size: 8pt; }

.header-bottom {
  display: none; }

.footer {
  background: #ccc;
  height: 40px;
  margin-top: 20px;
  width: 100%; }
  .footer .footer-left {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
    font-size: 12pt; }
    .footer .footer-left .mozlogo img {
      width: 5em; }
  .footer .footer-right {
    padding-right: 20px;
    padding-top: 10px;
    float: right; }
    .footer .footer-right .terms {
      list-style: none;
      margin: 0;
      padding: 0; }
      .footer .footer-right .terms li {
        display: inline;
        font-size: 10pt;
        margin-left: 1em; }

h1.page-title {
  font-family: fira-sans, sans-serif;
  font-weight: bold; }

.page-body {
  background: #fff;
  margin: 0 80px;
  padding: 10px; }

.content {
  margin: 0 80px;
  padding: 10px; }
  .content hr {
    margin-top: 3em; }

.screenshot-card {
  border: 1px solid #ccc; }
  .screenshot-card .wp-post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%; }
  .screenshot-card .screenshot-meta {
    background: #fff;
    min-height: 2.5em;
    padding: .5em; }
    .screenshot-card .screenshot-meta .screenshot-caption {
      font-size: 16pt;
      padding-right: 3em; }
    .screenshot-card .screenshot-meta .screenshot-actions {
      float: right; }
      .screenshot-card .screenshot-meta .screenshot-actions * {
        text-decoration: none; }
      .screenshot-card .screenshot-meta .screenshot-actions .like {
        margin-right: .25em;
        position: relative; }
        .screenshot-card .screenshot-meta .screenshot-actions .like .like-box-wrapper {
          display: none;
          height: 100px;
          left: -180px;
          position: absolute;
          bottom: 15px;
          width: 320px; }
        .screenshot-card .screenshot-meta .screenshot-actions .like .like-box {
          background: #fff;
          border: 1px solid #ccc;
          left: 30px;
          position: absolute;
          padding: 5px 10px;
          bottom: 10px; }
          .screenshot-card .screenshot-meta .screenshot-actions .like .like-box .like-emoji {
            margin: 2px; }
      .screenshot-card .screenshot-meta .screenshot-actions .like i:hover {
        -webkit-transition: transform 0.3s;
        -moz-transition: transform 0.3s;
        -ms-transition: transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
      .screenshot-card .screenshot-meta .screenshot-actions .share {
        position: relative; }
        .screenshot-card .screenshot-meta .screenshot-actions .share .share-box-wrapper {
          display: none;
          height: 130px;
          left: -130px;
          position: absolute;
          bottom: 15px;
          width: 300px; }
        .screenshot-card .screenshot-meta .screenshot-actions .share .share-box {
          background: #fff;
          border: 1px solid #ccc;
          left: 30px;
          position: absolute;
          padding: 5px 10px;
          bottom: 10px; }
    .screenshot-card .screenshot-meta .like-emoji-count-box {
      clear: both;
      float: right; }
      .screenshot-card .screenshot-meta .like-emoji-count-box img {
        height: 14px;
        width: 14px; }
      .screenshot-card .screenshot-meta .like-emoji-count-box .count-text {
        font-size: 9pt; }
  .screenshot-card .screenshot-meta-2 {
    background: #ccc;
    padding: .25em .5em .25em .5em;
    font-size: 9pt; }
    .screenshot-card .screenshot-meta-2 .screenshot-domain {
      float: right; }
  .screenshot-card .secondary-actions {
    float: right;
    margin-top: .25em;
    text-decoration: none; }
    .screenshot-card .secondary-actions * {
      color: #888;
      font-size: 9pt; }
    .screenshot-card .secondary-actions .fa {
      padding-right: .25em; }
    .screenshot-card .secondary-actions .action-txt {
      text-decoration: underline; }

.screenshot-edit {
  columns: 2; }
  .screenshot-edit #screenshot-meta-form input[type="text"] {
    display: block;
    font-size: 14pt;
    margin: .5em auto;
    width: 100%; }
  .screenshot-edit #screenshot-meta-form .meta-offensive-wrapper {
    font-size: 10pt;
    margin: .5em 0;
    width: 100%; }

.logged-in-as a:nth-child(2) {
  display: none; }

.comment-form-comment label {
  display: none; }

#user-setup label {
  display: inline-block;
  min-width: 4em; }
#user-setup .button {
  margin-top: 10px; }

/*# sourceMappingURL=post.css.map */
