// ---------------------------------------------------------
// Sidebar
// ---------------------------------------------------------

#sidebar {
  background-color: #f5f5f7;

  .sidebar-content {
    margin: 12px 30px 0;
    height: calc(100% - 12px);
  }

  .sidebar-top {
    margin-bottom: 3em;
    min-height: -webkit-calc(100% - 228px);
    min-height: -moz-calc(100% - 228px);
    min-height: calc(100% - 214px);
    
    .close-button {
      font-size: 20pt;
      text-decoration: none;
    }

    .sidebar-menu {
      border: none;
      list-style-type: none;
      padding-left: 0;

      li {
        border: none;
        line-height: 2.5em;
        font-size: 14pt;
        font-weight: 500;
        text-transform: uppercase;
        a { text-decoration: none; }
        :hover {
          background-color: yellow;
        }
      }
    }

    .title-divider {
      margin-top: 1.5em;
    }

    h1 {
      font-size: 18pt;
    }
    .poweredby {
      font-size: 8pt;
    }

    .icons {
      margin-top: 1em;
      .icon {
        width: 30px;
      }
    }
  }

  .sidebar-bottom {
    width: 100%;

    .mozlogo img {
      width: 90px;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      padding-top: 0;
      margin-top: 0;

      li {
        font-size: 11pt;
        line-height: 2em;
        a { text-decoration: none; }
      }
    }
  }
}
